@font-face {
  font-family: typeFont;
  src: url(./fonts/Underwood-Champion.ttf);
  font-weight: bold;
}

@font-face {
    font-family: keyFont;
    src: url(./fonts/Garet-Book.ttf);
    font-weight: 10000;
}

html {
    min-height: 100%;
    background:

        radial-gradient(
            ellipse 30% 35%,
            transparent,
            #704214 300%);  
    
    background-size: cover;
}

div.container {
    position: relative;
    width: 100%; 
    height: 100%;
}

div.line-zero {
    position: absolute;
    margin-top: 1.60em;
    width: 35em;
    padding-bottom: 0.55em;
    margin-left: 10.65em;
}

div.line-one {
    position: absolute;
    width: 36em;
    padding-bottom: .8em;
    margin-left: 5.85em;
    margin-top: 5.0em;
    margin-bottom: 0.125em;
}

div.line-two {
    position: absolute;
    width: 36.56em;
    margin-left: 6.5em;
    margin-top: 8.2em;
    padding-bottom: 0.375em;
}

div.line-three {
    position: absolute;
    width: 37.5em;
    margin-left: 8em;
    margin-top: 11.5em;
}

div.line-four {
    position: absolute;
    width: 25em;
    margin-top: 0.1em;
    margin-left: 0em;
    padding-bottom: 1.25em;
}

div.enter-container {
    position: absolute;
    top: 20.625em;
    left: 15.6em;
    width: 4.375em;
    height: 6.25em;
    transform: skew(-30deg);
    background: transparent;
    outline: none;
    border: none !important;
}

div.button {
    font-family: "keyFont";
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    color: rgb(65,55,35);
    border: 0.313em solid;
    border-color: rgb(214,211,194) rgb(60,52,41) rgb(123,117,103) rgb(163,154,147);
    background-color:  rgb(238,208,158);   
    border-radius: 2.813em/2.188em;
    height: 1.563em;
    width: 1.875em;
    outline-offset: -0.438em;
    outline: 0.188em inset rgb(255,252,236); 
    margin-right: 0.7599em;
    text-shadow: 0.063em 0.063em 0.063em rgb(65,55,35);
    line-height: 1.6em;
    float: left;
}

div.button:active {
    box-shadow: 0.25em 0.25em 0.313em 0.313em black; 
    outline-offset: -0.438em;
    outline: 0.188em inset rgb(255,252,236); 
}

div.line-one-button {
    margin-right: 0.7em;
}

div.parenthesis-button {
    position: absolute;
    left: 4.5em;
    top: 2.813em;
}

button.shift-button {
    font-size: 12px;
    font-family: "keyFont";
    font-weight: normal;
    font-style: normal;
    color: rgb(65,55,35);
    border: 0.417em solid;
    border-color: rgb(214,211,194) rgb(60,52,41) rgb(123,117,103) rgb(163,154,147);
    background-color:  rgb(238,208,158);   
    border-radius: 3.75em/2.917em;
    outline-offset: -0.583em;
    outline: 0.25em inset rgb(255,252,236); 
    margin-right: 1em;
    line-height: 0.25em;
    float: left;
    position: absolute;
    text-shadow: 0.083em 0.083em 0.083em rgb(65,55,35);
    height: 3.5em;
    width: 4.417em;
}

button.left-shift {
    top: 15.083em;
    left: 4.917em;
} 

button.shift-button:focus {
    box-shadow: 0.333em 0.333em 0.417em 0.417em black; 
    outline: none;
}

button.right-shift {
    left: 54.417em;
    top: 14.833em;
}


div.small-button {
    border-radius: 2.813em/2.188em;
    height: 1.375em;
    width: 1.688em;
    margin-top: 0.188em;
    margin-right: 0.813em;
    margin-left: 0.063em;
}

div.small-button:active {
    box-shadow: 0.25em 0.25em 0.313em 0.313em black; 
    outline: none;
}

div.space {
    color: white;
    border: 0.938em solid;
    border-color: rgb(74,70,64) rgb(14,18,19) rgb(14,18,19); 
    background-color:rgb(74,70,64);  
    border-radius: 2.188em/3.438em; 
    outline: none;
    height: 0.55em;
    width: 25em;
    position: absolute;
    left: 10.088em;
    top: 14.578em;
} 

div.space:active {
    box-shadow: 0.25em 0.25em 0.313em 0.313em black; 
    outline: none;
} 

image {
    position: absolute;
    margin: 0 auto;
    display:block;
    width: 100%;
    height: 100%;  
}

div.text {
    position: absolute;
    top: 26.429em;
    left: 30em;
    width: 35.857em;
    height: 6.5em;
    outline: 0.071em solid rgb(64,63,59);
    font-family: "typeFont";
    font-size: 14px;
    background-color: rgb(254,251,234);
    text-align: left;
}

div.behind-letter {
    position: absolute;
    width: 31.375em;
    height: 30.625em;
    left: 26.25em;
    top: 1.25em;
    outline: 0.063em solid rgb(64,63,59);
    background-color: hsl(51, 41%, 81%);
}

div.typewriter-container {
    top: 12.5em;
    padding-top: 12.5em;
    position: relative;
    margin: 0 auto;
    text-align: center;
    vertical-align: center;
    width: 56.25em;
    height: 37.5em;
    user-select: none;
}

div.keyboard-container {
    width: 50em;
    position: absolute;
    top: 40.625em;
    left: 6.25em;
} 

span.inner-text {
    width: 30em;
    height: 1.25em;
    white-space: pre;
    overflow-wrap: break-word;
    text-align: left;
    margin-left: 3.125em;
    margin-top: 3.438em;
    display: block;
    line-height: 1.25em;
} 

img.typewriter-bottom {
    position: absolute;
    margin: 0 auto;
    border: none;
    display:block;
    width: 100%;
    height: 100%; 
    user-select: none;
} 

img.typewriter-bar {
    position: absolute;
    border: none;
    display:block;
    top: 16.25em;
    left: 9.063em;
    width: 100%;
    height: 100%;
    user-select: none;
} 

img.typewriter-bottom::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: drop-shadow(12.5em 12.5em 0.063em rgba(0, 0, 0, 0.4));
    transform: skew(0, 25deg);
    user-select: none;
} 

img.typewriter-top {
    position: absolute;
    margin: 0 auto;
    left: 13.75em;
    display:block;
    width: 100%;
    height: 100%;
    user-select: none;
}